body {
    background-color: steelblue;
}

#content {
    background-color: steelblue;
    margin: 0 auto;
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 400px;
}

h1 {
    color: white;
}

ol {
    color: black;
}

img {
    width: 400px;
    height: 500px;
}

#content:hover h1 {
    color: black;
}

#quote {
    font-size: 2.5em;
}